
<header-menu></header-menu>

<main role="main">
	
	<main-menu></main-menu>

	<div class="container-divider"></div>	

	<div class="container">
		<div class="article-container">
			
			<section class="article-sidebar" article-sidebar>
				<section class="section-articles collapsible-sidebar">
					<h3 class="collapsible-sidebar-title sidenav-title">
						{{configuration.routes.customer.subject}}
					</h3>
					<ul>
						<li ng-repeat="category in configuration.routes.customer.categories">
							<a href="#" class="sidenav-item" ng-click="switchHomeLocation($event, category, $index)" ng-class="{'current-article' : $index === currentCategory}">{{category.name}}</a>
						</li>
					</ul>
				</section>
			</section>

			<article class="article" content-menu>
				<header class="article-header">
					<a class="btn btn-default" style="margin-bottom: 10px;" ng-click="backToCustomerPage()"><i class="fa fa-chevron-left"></i> 返回</a>
          			<h1 class="article-title" title="Home">顧客資訊</h1>
          
          			<div class="article-meta">
            			<a href="#" ng-click="$event.preventDefault()">{{configuration.routes.order.subject}}</a>
            			<div class="article-updated meta-data">Updated <time datetime="2017-09-13T16:43:04Z" title="2017-09-13T16:43:04Z" data-datetime="relative">September 13, 2017 16:43</time></div>
            			<p>顧客詳細資訊</p>
          			</div>

		        </header>
		        
				<section class="article-info">
					<div class="alert alert-danger" ng-show="customerProcessError">
						<i class="fa fa-error"><strong>查無使用者資料</strong></i>
					</div>
					<div class="article-content" ng-if="!customerProcessError">
						<div class="row">
						<div class="col-sm-4 no-padding">
							<div class="person-info row">
								<img ng-src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="avatar" class="human-picture">
								
								<div class="name">
									<h2 class="name-h">{{::member.username}}</h2>
	   								<h2 class="name-h second-name"></h2>
	        					</div>
        					</div>
						</div>
						<div class="col-sm-4 col-xs-12">
					        <div class="contact-info phone-email">
					          	<div>
					            	<i class="fa fa-phone"></i>
					            	<span class="phone">{{member.phone}}</span>
					          	</div>
					          	<div>
					            	<i class="fa fa-envelope"></i>
					            	<span class="email">{{member.email}}</span>
					          	</div>
					        </div>
					    </div>
					    
					    <div class="col-sm-4 col-xs-12 no-padding">
				        	<div class="contact-info position-address">
				            	<span class="position margin-left"><i class="fa fa-user"></i>會員</span>
				            	<div>
				            		<span class="address margin-left"><i class="fa fa-address-card"></i>地址</span>
				          		</div>
				          	</div>
				        </div>
						</div>

						<div class="line"></div>
					
						<div class="answer-container">
							<button class="btn btn-primary">發送訊息</button>
							<button class="btn btn-primary">購買紀錄</button>
						</div>
						
					</div>

				</section>

			</article>

		</div>		
	</div>

</main>