
  <div class="category-container">
    <div class="category-content">
      <header class="page-header">
        <h1>Create Your Campaign</h1>
        
          <p class="page-header-description">All you need to know that will make your mail merge a real success!</p>
        
      </header>

      <div class="section-tree">
        
          <section class="section">
            <h3 class="section-tree-title">
              <a href="/hc/en-us/sections/202545445-Draft-Your-Template">Draft Your Template</a>
              
            </h3>
            
              <ul class="article-list">
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/211752825-Create-a-simple-draft-email-template-in-Gmail-for-your-mail-merge" class="article-list-link">Create a simple draft email template in Gmail for your mail merge</a>
                  </li>
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/210729589-Use-a-predesigned-template-from-our-gallery" class="article-list-link">Use a predesigned template from our gallery</a>
                  </li>
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/214119185-Create-your-template-in-Google-Docs-and-import-it-in-Gmail" class="article-list-link">Create your template in Google Docs and import it in Gmail</a>
                  </li>
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/211758685-Tips-Share-your-draft-with-another-account" class="article-list-link">Tips: Share your draft with another account</a>
                  </li>
                
                
              </ul>
            
          </section>
        
          <section class="section">
            <h3 class="section-tree-title">
              <a href="/hc/en-us/sections/202544725-Personalize-Your-Email">Personalize Your Email</a>
              
            </h3>
            
              <ul class="article-list">
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/210732069-Personalize-your-email-content-with-markers" class="article-list-link">Personalize your email content with markers</a>
                  </li>
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/210732129-Personalize-your-subject-line-for-better-open-rates" class="article-list-link">Personalize your subject line for better open rates</a>
                  </li>
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/210735349-Add-personalized-attachments-to-your-emails" class="article-list-link">Add personalized attachments to your emails</a>
                  </li>
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/210757749-Insert-an-unsubscribe-link-in-your-email-to-reduce-spam-issues" class="article-list-link">Insert an unsubscribe link in your email to reduce spam issues</a>
                  </li>
                
                
              </ul>
            
          </section>
        
          <section class="section">
            <h3 class="section-tree-title">
              <a href="/hc/en-us/sections/202609645-Send-Your-Message">Send Your Message</a>
              
            </h3>
            
              <ul class="article-list">
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/115000598389-Send-a-test-email-before-starting-your-mail-merge" class="article-list-link">Send a test email before starting your mail merge</a>
                  </li>
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/210732189-Add-cc-bcc-recipients-in-your-emails" class="article-list-link">Add cc / bcc recipients in your emails</a>
                  </li>
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/212124585-Send-email-to-multiple-recipients-at-the-same-time" class="article-list-link">Send email to multiple recipients at the same time</a>
                  </li>
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/214057929-Resend-your-mail-merge-to-the-rest-of-your-list-on-the-same-sheet" class="article-list-link">Resend your mail merge to the rest of your list on the same sheet</a>
                  </li>
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/211755085-Segment-your-list-and-only-send-emails-to-specific-people-rows" class="article-list-link">Segment your list and only send emails to specific people / rows</a>
                  </li>
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/211776845-Use-an-alias-Send-from-another-email-address" class="article-list-link">Use an alias / Send from another email address</a>
                  </li>
                
                
              </ul>
            
          </section>
        
          <section class="section">
            <h3 class="section-tree-title">
              <a href="/hc/en-us/sections/202481669-Scheduling-Options">Scheduling Options</a>
              
            </h3>
            
              <ul class="article-list">
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/211869705-Schedule-batch-delivery-send-emails-later" class="article-list-link">Schedule batch delivery / send emails later</a>
                  </li>
                
                  <li class="article-list-item">
                    <i class="material-icons md-21">chevron_right</i>
                    
                    <a href="/hc/en-us/articles/211870605-Automatically-send-emails-to-remaining-rows" class="article-list-link">Automatically send emails to remaining rows</a>
                  </li>
                
                
              </ul>
            
          </section>
        
      </div>
    </div>