<footer class="footer">
	<div class="footer-inner">
		<div class="footer-sitemap">
			<div class="footer-row">
				<h3>Company</h3>
				<ul>
          			<li><a href="https://sites.google.com/site/scriptsexamples/" target="_blank">Website</a></li>
          			<li><a href="https://sites.google.com/site/scriptsexamples/about-us" target="_blank">About Us</a></li>
          			<li><a href="https://sites.google.com/site/scriptsexamples/home/news" target="_blank">Blog</a></li>
          			<li><a href="https://sites.google.com/site/scriptsexamples/available-web-apps/privacy-policy" target="_blank">Privacy Policy</a></li>
          			<li><a href="mailto:support@awesome-table.com">Contact Us</a></li>
          		</ul>
			</div>
		</div>
		<div class="footer-language-selector"></div>
	</div>
</footer>