<header class="header">
  <div class="sc-menu-links">
    <a class="sc-hc-link" href="https://soundcloud.zendesk.com/hc">Help Center</a>
 <a href="https://www.soundcloudcommunity.com/soundcloud">Help Community</a>
 <a href="http://status.soundcloud.com/">Status Blog</a>
  </div>
  <div class="sc-header-right-container">
    <div class="nav-wrapper">
      <span class="icon-menu"></span>
        <a class="login" data-auth-action="signin" role="button" href="/hc/en-us/signin?return_to=https%3A%2F%2Fhelp.soundcloud.com%2Fhc%2Fen-us&amp;locale=1">Sign in</a>

    </div>
    <a class="sc-header-logo" title="Home" href="/hc/en-us">Home</a>
  </div>
</header>
<section class="section hero">
  <div class="hero-inner">
    <form role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" /><input type="search" name="query" id="query" placeholder="How can we help? (Use keywords for better search results)" autocomplete="off" aria-label="How can we help? (Use keywords for better search results)" />
<input type="submit" name="commit" value="Search" /></form>
  </div>
  <div class="sc-search-placeholder">How can we help? (Use keywords for better search results)</div>
</section>


  <main role="main">
    <div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000227553-First-Aid' class="blocks-item-link">
                <img class="sc-home-cat" id='homeCat115000227553' src="/hc/theme_assets/1338226/115000042608/Copyrights_2x.png">
                <h4 class="blocks-item-title">First Aid</h4>
              </a>
            </li>
          
        
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000604807-Get-Started' class="blocks-item-link">
                <img class="sc-home-cat" id='homeCat115000604807' src="/hc/theme_assets/1338226/115000042608/Copyrights_2x.png">
                <h4 class="blocks-item-title">Get Started</h4>
              </a>
            </li>
          
        
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000606848-Your-Account' class="blocks-item-link">
                <img class="sc-home-cat" id='homeCat115000606848' src="/hc/theme_assets/1338226/115000042608/Copyrights_2x.png">
                <h4 class="blocks-item-title">Your Account</h4>
              </a>
            </li>
          
        
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000604827-Copyright' class="blocks-item-link">
                <img class="sc-home-cat" id='homeCat115000604827' src="/hc/theme_assets/1338226/115000042608/Copyrights_2x.png">
                <h4 class="blocks-item-title">Copyright</h4>
              </a>
            </li>
          
        
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000604847-Payments-and-Billing' class="blocks-item-link">
                <img class="sc-home-cat" id='homeCat115000604847' src="/hc/theme_assets/1338226/115000042608/Copyrights_2x.png">
                <h4 class="blocks-item-title">Payments and Billing</h4>
              </a>
            </li>
          
        
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000706387-SoundCloud-Go' class="blocks-item-link">
                <img class="sc-home-cat" id='homeCat115000706387' src="/hc/theme_assets/1338226/115000042608/Copyrights_2x.png">
                <h4 class="blocks-item-title">SoundCloud Go</h4>
              </a>
            </li>
          
        
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000675187-Podcasting' class="blocks-item-link">
                <img class="sc-home-cat" id='homeCat115000675187' src="/hc/theme_assets/1338226/115000042608/Copyrights_2x.png">
                <h4 class="blocks-item-title">Podcasting</h4>
              </a>
            </li>
          
        
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000678888-Upload-Manage-Your-Tracks' class="blocks-item-link">
                <img class="sc-home-cat" id='homeCat115000678888' src="/hc/theme_assets/1338226/115000042608/Copyrights_2x.png">
                <h4 class="blocks-item-title">Upload &amp; Manage Your Tracks</h4>
              </a>
            </li>
          
        
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000678908-Stats-Comments-Messages' class="blocks-item-link">
                <img class="sc-home-cat" id='homeCat115000678908' src="/hc/theme_assets/1338226/115000042608/Copyrights_2x.png">
                <h4 class="blocks-item-title">Stats, Comments &amp; Messages</h4>
              </a>
            </li>
          
        
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000678928-Listen-Discover' class="blocks-item-link">
                <img class="sc-home-cat" id='homeCat115000678928' src="/hc/theme_assets/1338226/115000042608/Copyrights_2x.png">
                <h4 class="blocks-item-title">Listen &amp; Discover</h4>
              </a>
            </li>
          
        
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000678948-Share-Embed' class="blocks-item-link">
                <img class="sc-home-cat" id='homeCat115000678948' src="/hc/theme_assets/1338226/115000042608/Copyrights_2x.png">
                <h4 class="blocks-item-title">Share &amp; Embed</h4>
              </a>
            </li>
          
        
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000678968-Policy-Safety' class="blocks-item-link">
                <img class="sc-home-cat" id='homeCat115000678968' src="/hc/theme_assets/1338226/115000042608/Copyrights_2x.png">
                <h4 class="blocks-item-title">Policy &amp; Safety</h4>
              </a>
            </li>
          
        
      </ul>
      
    </section>

    <section class="sc-home-questions">
      
        <section class="articles">
          <h2>Promoted articles</h2>
          <ul class="article-list promoted-articles">
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003566528-I-forgot-the-email-address-associated-with-my-SoundCloud-account">
                  <i></i>
                  <span>I forgot the email address associated with my SoundCloud account</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003444827-Uploaded-track-disappeared-from-profile">
                  <i></i>
                  <span>Uploaded track disappeared from profile</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003564628-Unable-to-see-an-option-to-change-to-a-monthly-Pro-subscription">
                  <i></i>
                  <span>Unable to see an option to change to a monthly Pro subscription</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003570488-What-is-SoundCloud-">
                  <i></i>
                  <span>What is SoundCloud?</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115000183994-SoundCloud-Support-Resources">
                  <i></i>
                  <span>SoundCloud Support Resources</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003567968-Your-Display-Name-and-Profile-URL">
                  <i></i>
                  <span>Your Display Name and Profile URL</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003450007-Profile-image-and-header">
                  <i></i>
                  <span>Profile image and header</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003567028-Why-your-track-was-taken-down">
                  <i></i>
                  <span>Why your track was taken down</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003450967-Your-upload-allowance">
                  <i></i>
                  <span>Your upload allowance</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003449167-Automatic-subscription-renewals">
                  <i></i>
                  <span>Automatic subscription renewals</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003562888-Canceling-or-downgrading-your-Pro-subscription">
                  <i></i>
                  <span>Canceling or downgrading your Pro subscription</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115004593487-SoundCloud-Go-Go-Subscription-status">
                  <i></i>
                  <span>SoundCloud Go/Go+ Subscription status</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003453007-SoundCloud-Go-availability">
                  <i></i>
                  <span>SoundCloud Go availability</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003453807-Getting-started-with-podcasting">
                  <i></i>
                  <span>Getting started with podcasting</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003452847-Uploading-requirements">
                  <i></i>
                  <span>Uploading requirements</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003561288-Creating-an-Album">
                  <i></i>
                  <span>Creating an Album</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003564008-Play-counts">
                  <i></i>
                  <span>Play counts</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003454627-Troubleshooting">
                  <i></i>
                  <span>Troubleshooting</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115000331394-Next-up-Play-Queue-on-Web">
                  <i></i>
                  <span>Next up - Play Queue on Web</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003448787-Downloading-tracks">
                  <i></i>
                  <span>Downloading tracks</span>
                </a>
              </li>
            
              <li class="promoted-articles-item">
                <a href="/hc/en-us/articles/115003566708-Reporting-a-spam-account">
                  <i></i>
                  <span>Reporting a spam account</span>
                </a>
              </li>
            
          </ul>
        </section>
      
      <section class="sc-other-categories">
        <ul class="blocks-list">
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000227553-First-Aid' class="blocks-item-link">
                First Aid
              </a>
            </li>
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000604807-Get-Started' class="blocks-item-link">
                Get Started
              </a>
            </li>
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000606848-Your-Account' class="blocks-item-link">
                Your Account
              </a>
            </li>
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000604827-Copyright' class="blocks-item-link">
                Copyright
              </a>
            </li>
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000604847-Payments-and-Billing' class="blocks-item-link">
                Payments and Billing
              </a>
            </li>
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000706387-SoundCloud-Go' class="blocks-item-link">
                SoundCloud Go
              </a>
            </li>
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000675187-Podcasting' class="blocks-item-link">
                Podcasting
              </a>
            </li>
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000678888-Upload-Manage-Your-Tracks' class="blocks-item-link">
                Upload &amp; Manage Your Tracks
              </a>
            </li>
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000678908-Stats-Comments-Messages' class="blocks-item-link">
                Stats, Comments &amp; Messages
              </a>
            </li>
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000678928-Listen-Discover' class="blocks-item-link">
                Listen &amp; Discover
              </a>
            </li>
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000678948-Share-Embed' class="blocks-item-link">
                Share &amp; Embed
              </a>
            </li>
          
            <li class="blocks-item">
              <a href='/hc/en-us/categories/115000678968-Policy-Safety' class="blocks-item-link">
                Policy &amp; Safety
              </a>
            </li>
          
        </ul>
        <p class="sc-sidenav-submit">
          Please read through our Help Center articles to find your answer or try our <a href="https://www.soundcloudcommunity.com/soundcloud">Help Community</a>.
        </p>
      </section>
    </section>
  </section>
</div>

<script>
  HC.homePage.init()
</script>

  </main>

  <footer class="footer">
  <div class="footer-inner">
    <div class="first-level">
      <ul>
        
        <li>
          <div class="dropdown language-selector" aria-haspopup="true">
            <a class="dropdown-toggle">
              English (US)
            </a>
            <span class="dropdown-menu dropdown-menu-end" role="menu">
              
                <a href="/hc/change_language/de?return_to=%2Fhc%2Fde" dir="ltr" rel="nofollow" role="menuitem">
                  Deutsch
                </a>
              
                <a href="/hc/change_language/es?return_to=%2Fhc%2Fes" dir="ltr" rel="nofollow" role="menuitem">
                  Español
                </a>
              
                <a href="/hc/change_language/fr?return_to=%2Fhc%2Ffr" dir="ltr" rel="nofollow" role="menuitem">
                  Français
                </a>
              
                <a href="/hc/change_language/it?return_to=%2Fhc%2Fit" dir="ltr" rel="nofollow" role="menuitem">
                  Italiano
                </a>
              
                <a href="/hc/change_language/pt-br?return_to=%2Fhc%2Fpt-br" dir="ltr" rel="nofollow" role="menuitem">
                  Português do Brasil
                </a>
              
            </span>
          </div>
        </li>
        

         <li><a href="https://www.soundcloudcommunity.com/soundcloud">Help Community</a></li>
 <li><a href="http://status.soundcloud.com">Status Blog</a></li>
      </ul>
    </div>
    <div class="second-level">
      <ul>
         <li><a href="https://soundcloud.com/">SoundCloud.com</a></li>
 <li><a href="http://blog.soundcloud.com/">Blog</a></li>
 <li><a href="http://developers.soundcloud.com/">Developers</a></li>
 <li><a href="http://soundcloud.com/jobs">Jobs</a></li>
 <li><a href="https://on.soundcloud.com/">On SoundCloud</a></li>
 <li><a href="https://advertising.soundcloud.com/">Advertising</a></li>
 <li><a href="https://www.facebook.com/SoundCloud">Facebook</a></li>
 <li><a href="https://twitter.com/SoundCloud">Twitter</a></li>
 <li><a href="http://soundcloud.tumblr.com/">Tumblr</a></li>
 <li><a href="https://plus.google.com/+SoundCloud/about">Google+</a></li>
      </ul>
    </div>
    <div class="third-level">
      <ul>
         <li><a href="https://soundcloud.com/terms-of-use">Terms of Use</a></li>
 <li><a href="https://soundcloud.com/pages/privacy">Privacy policy</a></li>
 <li><a href="https://soundcloud.com/pages/cookies">Cookie Policy</a></li>
 <li><a href="https://soundcloud.com/imprint">Imprint</a></li>
      </ul>
    </div>
  </div>
</footer>